.xs-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    .xs-container-left {
        width: 220px;;
        .container-sidebar {

            display: flex;
            flex-direction: column;
            padding: 0 16px;
        }
    }
    .xs-container-middle {
        flex: 1;
        overflow: hidden;
    }
    .xs-container-right {
        width: 220px;
        .el-tabs__nav-wrap {
            padding: 0 8px;
        }
        .el-input-number.is-controls-right {
            .el-input__inner {
                padding: 0;
            }
        }
        .el-form-item__label {
            font-size: 12px;
        }
    }
    .flex-layout {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .icon-wrap {
        padding: 4px;
        display: flex;
        cursor: pointer;
        &:hover {
            background-color: #e3e3e3;
            border-radius: 4px;
        }
        &:focus-visible {
            outline: none;
        }
    }
    .full-width {
        width: 100%;
    }
    .form-item {
        display: flex;
        flex-direction: column;
        +.form-item {
            margin-top: 10px;
        }
        >span{
            line-height: 32px;
        }
    }
}