
.com-header {
    background-color: #92c8ff;

    .back-wrap {
        height: 40px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding-left: 16px;
        cursor: pointer;
    }
}